/* Header is the container, inside of this is the logo and the navbar */
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    margin: 0;
}
.logo{
    width: auto;
    height: 70%;
}
.nav {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-grow: 2;
    list-style: none;
}
.navlink{
    padding: 20px
}
.navlink a {
    color: #950a0a;
    text-decoration: none;
    font-size: 1.5em;
}

/* Hamburger Menu Hidden*/
.burger {
    font-size: 2.2em;
    display: none;

}
/* This is so the hamburger menu shows up on smaller devices */
@media screen and (max-width: 768px) {
    .header{
        position: fixed;
        width: 100%;
        
    }
    .burger {
        display: block;
        padding-right: 30px;   
    }
    .nav {
        margin: 0;
        background: white;
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
        padding: 0;
        transition: all 400ms;
    }
    .navlink {
        text-align: center;
    }
    .nav.active {
        right: 0;
    }
}