/* Header is the container, inside of this is the logo and the navbar */
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 15%;
    height: auto;
}
.nav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-grow: 2;
    list-style: none;
}
.navlink{
    padding: 20px
}
.navlink a {
    color: #950a0a;
    text-decoration: none;
    font-size: 1.5em;
}

/* Hamburger Menu Hidden*/
.burger {
    font-size: 1.2em;
    display: none;
}

